@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

body {
  background: rgb(19, 19, 19);
  color: #fff;
  font-family: "Noto Sans", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 } */

/*! card and heading styling */
/* heading */
.card > .category-1 {
  color: purple;
}

/* card */
#category-1:hover {
  border: solid purple 1px;
  box-shadow: 0 0 0 1px purple;
}

/* heading */
.card > .category-2 {
  color: turquoise;
}
/* card */
#category-2:hover {
  border: solid turquoise 1px;
  box-shadow: 0 0 0 1px turquoise;
}

/* heading */
.card > .category-3 {
  color: red;
}
/* card */
#category-3:hover {
  border: solid red 1px;
  box-shadow: 0 0 0 1px red;
}

/* heading */
.card > .category-4 {
  color: #03fc90;
}
/* card */
#category-4:hover {
  border: solid #03fc90 1px;
  box-shadow: 0 0 0 1px #03fc90;
}

/* heading */
.card > .category-5 {
  color: #5792eb;
}
/* card */
#category-5:hover {
  border: solid #5792eb 1px;
  box-shadow: 0 0 0 1px #5792eb;
}

/* heading */
.card > .category-6 {
  color: #eb810f;
}
/* card */
#category-6:hover {
  border: solid #eb810f 1px;
  box-shadow: 0 0 0 1px #eb810f;
}
