/* TODO lower brightness/whiteness of images with opacity filter or color overlay? */
/*TODO make sizing for laptop monitor and landscape table that holds 5 columns  */
/*TODO make sizing for tablet portrait monitor that holds 3.5 columns  */
/*TODO fix padding for home container  */
/* TODO figure out how to do overlay for each card not whole display */
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

body {
  background: #353535;
  color: black;
  font-family: Ubuntu;
  height: 100vh;
}

/* masonry grid for home page */
/* ! DESKTOP SIZING ONLY */
.home-container {
  display: grid;
  gap: 0.8rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  /*! doesn't stretch img at this height DONT CHANGE */
  grid-auto-rows: 220px !important;
  padding: 10px !important;
  /* border: solid lime 4px;*/
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 1.3rem;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 200ms;
  overflow: hidden;
  
}

/* ! makes grid items move down 10px in a bouncing fashion */
.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(10px) scale(1);
  opacity: 1;
}

/* ! IMG ELEMENTS */
.card > img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  /*TODO lower brightness of the white bg for now */
  /* ! anything lower is too dull */
  opacity: 0.92;
}

/* ! number label for span elements for overlay */
.label {
  color: ghostwhite;
  font-size: 2rem;
  text-align: center;
  display: none;
}

/*! Title Card */
#title {
  font-size: 2.3rem;
  text-align: center;
}

/* ! COLOR BLOCKS */
.orange {
  background-color: orange;
}

.lime {
  background-color: lime;
}
.yellow {
  background-color: yellow;
}

.periwinkle {
  background-color: rgb(113, 131, 236);
  color: #000;
}

.purple {
  background-color: purple;
}

.cyan {
  background-color: cyan;
}

.hotpink {
  background-color: rgb(246, 18, 132);
}
/* ! END COLOR BLOCKS */

/* ! button link grid-item*/
.btn {
  background-color: yellow;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(12, 7, 7);
  letter-spacing: 2px;
}

.btn:hover {
  background-color: red;
  color: black;
}

/* ! END BUTTON STYLING */

/* ! CLASSES FOR MASONRY STYLING */
.card-tall {
  grid-row: span 2 / auto;
}

.card-wide {
  grid-column: span 2 / auto;
}

/* ! END DESKTOP MONITOR SIZING */
