@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

body {
  background: #353535;
  color: black;
  font-family: "Noto Sans", sans-serif;
  height: 100vh;
}

/* masonry grid for home page */
/* ! DESKTOP/IPAD SIZING ONLY */
.home-container {
  display: grid;
  gap: .8rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  /*! doesn't stretch at this height DONT CHANGE */
  grid-auto-rows: 220px;
  /* border: solid lime 4px;
  margin: 0 auto; */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #353535; */
  font-size: 1.3rem;
  /* box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem; */
  height: 100%;
  width: 100%;
  /* border: solid turquoise 1px; */
  border-radius: 4px;
  /* transition: all 500ms; */
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card > img {
  height: 95%;
  width: 95%;
  border-radius: 4px;
  /* border: solid red 5px; */
}

/*! overlay number and color over images */
/* #overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(220, 49, 243, 0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
} */

/* !end overlay styling */
/* Title Card */
.card:first-of-type{
  background-color: #fff;
}

.orange{
  background-color: orange;
}

.lime{
  background-color: lime;
}

/* yellow */
.yellow{
  background-color: yellow;
  color: #000;
}

.purple{
  background-color: purple;
}

.cyan{
  background-color: cyan;
}

.hotpink{
  background-color: rgb(246, 18, 132);

}

/* ! Enter button */
.btn{
  background-color: rgb(113, 131, 236);
}

.card-tall {
  grid-row: span 2 / auto;
}

.card-wide {
  grid-column: span 2 / auto;
}
